* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #000;
	font-family:'Raleway',sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 512px;
	min-height: 512px;
}